.product-navbar {
  /* top: 50px; */
  background-image: url('../images/product-1.png');
  position: relative;
  width: 100%;
  height: 500px;
  left: 0px;
  top: 0px;
}

.product-body {
  position: absolute;
  /* width: 71px;
  height: 44px; */
  left: 700px;
  top: 250px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 44px;

  text-align: center;
  /* text-transform: uppercase; */

  color: #ffffff;
}

.product-footer {
  padding-top: 200px;
}
.line-1 {
  position: relative;
  /* width: 742px;
  height: 0px;
  left: 429px;
  top: 452px; */

  border: 1px solid #ffffff;
}

.products #process {
  position: absolute;
  width: 74px;
  height: 22px;
  left: 100px;
  top: 540px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  text-transform: uppercase;

  color: #8dc640;
}

.products #works {
  position: relative;
  /* width: 100px;
  height: 57px; */
  left: 100px;
  top: 70px;

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 250;
  font-size: 35px;
  /* identical to box height */

  text-transform: uppercase;

  color: #000000;
}

.products #steps {
  position: absolute;

  left: 100px;
  top: 620px;

  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #7c7c7c;
}

.products .row-image {
  display: flex;
  justify-content: space-evenly;
}
.products .image-1,
.products .image-2,
.products .image-3 {
  position: relative;
  width: 350px;
  height: 430px;
  /* left: 10px; */
  top: 130px;
  color: #ffffff;

  /* background: url("../images/image\ 10.png"); */
}

.products .image-1 {
  background: url('../images/Rectangle\ 39.png');

  /* identical to box height, or 107% */
}

.products .image-1-text {
  padding-left: 10px;
  padding-top: 325px;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* line-height: 32px; */
}

.products .image-2 {
  background: url('../images/Rectangle\ 40.png');
}

.products .image-3 {
  background: url('../images/Rectangle\ 41.png');
}

.products .image-4,
.products .image-5,
.products .image-6 {
  position: relative;
  width: 350px;
  height: 430px;
  /* left: 10px; */
  top: 160px;
  color: #ffffff;
}

.products .image-4 {
  background: url('../images/image\ 6.png');
}

.products .image-5 {
  background: url('../images/image\ 5.png');
}

.products .image-6 {
  background: url('../images/image\ 8.png');
}
